// save singularity images centrally rather than individual workflow work directories
singularity.cacheDir = "/scratch/ucgd/lustre-labs/quinlan/u1240855/singularity"

// 'lenient' ignores the last modified timestamp and uses only the file path and size
process {
    time   = '24h'
    cache = 'lenient'
    errorStrategy = { task.exitStatus in [143,137,104,140,134,139,250] ? 'retry' : 'terminate' }
    maxRetries = 2
    withName: 'BWAMEM1_INDEX' {
        cpus = { 8 * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: 'FASTQC' {
        cpus = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
    }
    withName: 'FASTQTOBAM' {
        cpus = { 4 * task.attempt }
        memory = { 64.GB * task.attempt }
    }
    withName: 'GROUPREADSBYUMI' {
        cpus = {  8 * task.attempt }
        memory = {  64.GB * task.attempt }
    }
    withName: 'ALIGN_RAW_BAM' {
        cpus = { 24 * task.attempt }
        memory = { 64.GB * task.attempt }
    }
    withName: 'CALLDDUPLEXCONSENSUSREADS' {
        cpus = { 8 * task.attempt }
        memory = { 64.GB * task.attempt }
    }
    withName: 'COLLECTDUPLEXSEQMETRICS' {
        cpus = { 1 * task.attempt }
        memory = { 64.GB * task.attempt }
    }
    withName: 'ALIGN_CONSENSUS_BAM' {
        cpus = { 8 * task.attempt }
        memory = { 24.GB * task.attempt }
    }
    withName: 'CALLANDFILTERDUPLEXCONSENSUSREADS' {
        cpus = { 1 * task.attempt }
        memory = { 64.GB * task.attempt }
    }
}
executor.slurm.exitReadTimeout = '1h'
executor.slurm.pollInterval = '60 sec'

// usage: nextflow run brwnj/covviz -latest -profile redwood ...
profiles {
    redwood {
        process {
            // submit process jobs to slurm, not on current node
            executor = 'slurm'
            // use the quinlan shared queue
            queue = 'quinlan-shared-rw'
            // write temp directories to my shared space in lustre-work
            // this directory has to exist prior to running, but only needs to be created once
            // scratch = '/scratch/ucgd/lustre-labs/quinlan/u1240855/scratch'
            // set to false if java memory error https://github.com/nf-core/sarek/issues/1024
            scratch = false
            // SLURM options: use the quinlan-rw account
            clusterOptions = '--account=quinlan-rw --partition quinlan-shared-rw --ntasks=1'
            time = '92h'
        }
        singularity {
            // use the container defined by the process rather than local software installs
            enabled = true
            // make our CHPC storage locations available within the Singularity container
            runOptions = '--bind /scratch --bind /uufs'
        }
        executor {
            submitRateLimit = 10
        }
    }
}